{% extends "HarryPotter/base.html" %}
{% load staticfiles %}

{% block title %}| Add House{% endblock %}
{% block head %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/main_header.css' %}">
   <link rel="stylesheet" type="text/css" href="{% static 'css/gen.css' %}">
   <link rel="stylesheet" type="text/css" href="{% static 'css/lgenr_page.css' %}">
{% endblock %}
{% block content %}
	<div class="use_table" style="margin-top:50px; padding-top:20px; padding-left:20px;">
   <form method="post" action="{% url 'houses:add_house' %}">
      <div class="wlc_title">
         Add House
      </div>
      <br><br>
      {% csrf_token %}
      <div class="wlc_login_form">
         <label for="id_name">
            Name
         </label>
      </div>
      <div>
         {{ form.name }}
      </div>   
      <p></p>
      <p></p>

      <div class="wlc_login_form">
         <label for="id_symbol">
            Symbol
         </label>
      </div>
      <div>
         {{ form.symbol }}
      </div>
      <p></p>
      <p></p>

      <div class="wlc_login_form">
         <label for="id_place">
            Place
         </label>
      </div>
      <div>
         {{ form.place }}
      </div>
      <p></p>
      <p></p>

      <div class="wlc_login_form">
         <label for="id_traits">
            Traits
         </label>
      </div>
      <div>
         {{ form.traits }}
      </div>
      
      {% if error %}
         <div class="fail_login">
            {{ error }}
         </div>
      {% endif %}
      <div class="wlc_login_button" style="padding-top:10px;">
         <input type="submit" value="Save" />
      </div>
   </form>
</div>

{% endblock %}