{% extends "HarryPotter/base.html" %}
{% load staticfiles %}

{% block title %} | Houses{% endblock title %}
{% block head %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/main_header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/gen.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/lgenr_page.css' %}">
{% endblock head %}

{% block content %}
	

	<div class="showTable" style="margin-top:50px; padding-top:20px; padding-left:20px;">
		<table border="1" cellspacing="0" width="25%">
			<tbody>
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>Symbol</th>
					<th>Place</th>
				</tr>
				{% for house in houses %}
					<tr>
						<td>{{ forloop.counter }}</td>
						<td>{{ house.name }}</td>
						<td>{{ house.symbol }}</td>
						<td>{{ house.place }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>



{% endblock content %}