{% extends "HarryPotter/base.html" %}
{% load staticfiles %}
{% block title %}| My profile{% endblock title %}

{% block head %}
   <link rel="stylesheet" type="text/css" href="{% static 'css/main_header.css' %}">
   <link rel="stylesheet" type="text/css" href="{% static 'css/gen.css' %}">
   <link rel="stylesheet" type="text/css" href="{% static 'css/lgenr_page.css' %}">
   <link rel="stylesheet" type="text/css" href="{% static 'css/myProfilePage.css' %}">
{% endblock head %}
{% block content %}

	{% if is_staff %}
   		{% include "my_profile/forms/view_form_staff.html" %}
   	{% else %}
   		{% include "my_profile/forms/view_form_student.html" %}
	{% endif %}

{% endblock content %}

