{% extends "HarryPotter/base.html" %}
{% load staticfiles %}

{% block title %} | Login{% endblock title %}
{% block head %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/main_header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/gen.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login_page.css' %}">
{% endblock head %}

{% block content %}
	<div style="margin-top:50px;">
	    <form method="post" action="{% url 'login:sign_in' %}" style="text-align:center;">{% csrf_token %}
	        <table border="0" align="center">
	            <tr><th><label for="id_username">Username:</label></th><td>{{ form.username }}</td></tr>
	            <tr><th><label for="id_password">Password:</label></th><td>{{ form.password }}</td></tr>
	        </table>
	        {% if error %}
		    	<div class="fail_login">
		    		{{ error }}
		    	</div>
		    {% endif %}
	        <input type="submit" value="Login" />
	        <input type="hidden" name="next" value="/my_profile" />
	    </form>
	    <center>
	    First time here? Then sign up
	    
	    </center>
	</div>

{% endblock content %}