{% extends "HarryPotter/base.html" %}
{% load staticfiles %}

{% block title %} | Login{% endblock title %}
{% block head %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/main_header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/gen.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/lgenr_page.css' %}">
{% endblock head %}

{% block content %}
	
	<div class="use_table" style="margin-top:50px; padding-top:20px; padding-left:20px;">
		<table width="100%">
			<tbody>
				<tr>
					<td width="50%" valign="top">
						<form method="post" action="{% url 'login:sign_in' %}">
							{% csrf_token %}
							<div class="wlc_title">
								Welcome back to Hogwarts!
							</div>
							<div class="wlc_enr links">
								Still need to enroll?
								<a href="{% url 'enroll:enroll' %}">
									Click here.
								</a>
							</div>
							<br>
							<br>
							<div class="wlc_login_form">
								<label for="id_username">
									Username
								</label>
							</div>
							<div>
								{{ form.username }}
							</div>	
							<p></p>
							<p></p>

							<div class="wlc_login_form">
								<label for="id_password">
									Password
								</label>
							</div>
							<div>
								{{ form.password }}
							</div>	
							
					        {% if error %}
						    	<div class="fail_login">
						    		{{ error }}
						    	</div>
						    {% endif %}
						    <div class="wlc_login_button" style="padding-top:10px;">
					        <input type="submit" value="Login" />
					        <input type="hidden" name="next" value="/my_profile" />
						    </div>
				    	</form>
					</td>
				</tr>
			</tbody>	
		</table>
	</div>


{% endblock content %}