{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>
        {% if title %}
            {{title}}
        {% else %}
            Hogwarts
        {% endif %}

		{% block title %}
		{% endblock title %}
	</title>

	<link rel="stylesheet" type="text/css" href="{% static 'css/main_header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/gen.css' %}">
	{% block head %}
		
	{% endblock head %}
</head>

<body>
{% if not user.is_authenticated %}
    <div class="main_header">
        <div class="use_table">
            <div class="main_header_item" align="center">
                <a href="/">
                    Home
                <span class="divlink"></span>
                </a>
            </div>
            <div class="main_header_item" align="center">
                <a href="">
                    About
                <span class="divlink"></span>
                </a>
            </div>
            <div class="main_header_item item_rb" align="center">
                <a href="{% url 'enroll:enroll' %}">
                    Enroll
                <span class="divlink"></span>
                </a>
            </div>
            <div class="main_header_item item_rb float_right" align="center">
                <a href="{% url 'login:sign_in' %}">
                    Login
                    <span class="divlink"></span>
                </a>
            </div>
        </div>
    </div>

{% else %}
    <div class="main_header">
        <div class="use_table">
            <div class="main_header_item" align="center">
                <a href="/">
                    Home
                <span class="divlink"></span>
                </a>
            </div>
            <div class="main_header_item" align="center">
                <a href="">
                    About
                <span class="divlink"></span>
                </a>
            </div>
            <div class="main_header_item" align="center">
                <a href="{% url 'students:get_students' %}">
                    Students
                <span class="divlink"></span>
                </a>
            </div>
            <div class="main_header_item" align="center">
                <a href="{% url 'staff:get_staff' %}">
                    Staff
                <span class="divlink"></span>
                </a>
            </div>
            <div class="main_header_item" align="center">
                <a href="{% url 'courses:get_courses' %}">
                    Courses
                <span class="divlink"></span>
                </a>
            </div>
            <div class="main_header_item item_rb" align="center">
                <a href="{% url 'houses:get_houses' %}">
                    Houses
                <span class="divlink"></span>
                </a>
            </div>
            <div class="main_header_item item_rb float_right" align="center">
                <a href="{% url 'login:sign_out' %}">
                    Logout
                    <span class="divlink"></span>
                </a>
            </div>
            <div class="main_header_item float_right" align="center">
                <a href="{% url 'my_profile:my_profile' %}">
                    {{ user.username }}
                    <span class="divlink"></span>
                </a>
            </div>
            
        </div>
    </div>
{% endif %}
    

	{% block content %}
		
	{% endblock content %}

	{% block footer %}
		
	{% endblock footer %}

    <div style="margin-top:200px;">

    </div>
</body>
</html>