{% extends "my_profile/base.html" %}
{% block title %}
	Search students
{% endblock title %}

{% block head %}
{% endblock head %}

{% block content %}
	<div>
		<h3>Search staff</h3>
	</div>	
	<div>
		<p>Fill the fields for needed search criterias.</p>
	</div>
	<form method="post" action="." style="text-align:center;">
    	{% csrf_token %}
        <table border="0" align="center">
            <tr>
            	<th>Name: </th>
            	<td><input type="text"/></td>
            </tr>
            <tr>
            	<th>Surname: </th>
            	<td><input type="text"/></td>
            </tr>
            <tr>
            	<th>Username: </th>
            	<td><input type="text"/></td>
            </tr>
            <tr>
            	<th>Subject teaching: </th>
            	<td><input type="text"/></td>
            </tr>
        </table>
        <input type="submit" value="Search" />
    </form>

    <h3>Search results</h3>
    <table border="1" cellspacing="0">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Surname</th>
            <th>Username</th>
            <th>email</th>
            <th></th>
        </tr>
        <tr>
            <td>1</td>
            <td>Ramus</td>
            <td>Lupin</td>
            <td>RLupin</td>
            <td>rlupin@hogwarts.com</td>
            <td> <a href=""> Dismiss </a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Severus</td>
            <td>Snape</td>
            <td>SSnape</td>
            <td>ssnape@hogwarts.com</td>
            <td> <a href=""> Dismiss </a></td>
        </tr>
    </table>
{% endblock content %}