{% extends "my_profile/base.html" %}
{% block title %}
	Search students
{% endblock title %}

{% block head %}
{% endblock head %}

{% block content %}
	<div>
		<h3>Search subjects</h3>
	</div>	
	<div>
		<p>Fill the fields for needed search criterias.</p>
	</div>
	<form method="post" action="." style="text-align:center;">
    	{% csrf_token %}
        <table border="0" align="center">
            <tr>
            	<th>Subject name: </th>
            	<td><input type="text"/></td>
            </tr>
            <tr>
            	<th>Teaching professor: </th>
            	<td><input type="text"/></td>
            </tr>
        </table>
        <input type="submit" value="Search" />
    </form>

    <h3>Search results</h3>
    <table border="1" cellspacing="0">
    	<tr>
    		<th></th>
    		<th>Subject name</th>
    		<th>Teacher</th>
    		<th></th>
    	</tr>
    	<tr>
    		<td>1</td>
    		<td>Dark magic</td>
    		<td>Remus Lupin</td>
    		<td> <a href=""> Register for this course </a></td>
    	</tr>
    	<tr>
    		<td>2</td>
    		<td>Protection from Dark magic</td>
    		<td>Severus Snape</td>
    		<td> <a href=""> Register for this course </a></td>
    	</tr>
    </table>
{% endblock content %}