{% extends "HarryPotter/base.html" %}
{% load staticfiles %}

{% block title %}
	| Enroll
{% endblock title %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/main_header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/gen.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/lgenr_page.css' %}">
{% endblock head %}

{% block content %}

	<div class="use_table" style="margin-top:50px; padding-top:20px; padding-left:20px;">
		<table width="100%">
			<tbody>
				<tr>
					<td width="50%" valign="top">
						<form method="post" action="{% url 'enroll:enroll' %}">
							{% csrf_token %}
							<div class="wlc_title">
								Sign Up!
							</div>
							
							<br>
							<br>
							<div class="wlc_login_form">
								<label for="id_username">
									Username
								</label>
							</div>
							<div>
								{{ form.username }}
							</div>
							<div  class="fail_enroll">
								{{ form.username.errors }}
							</div>

							<p></p>
							<p></p>

							<div class="wlc_login_form">
								<label for="id_email">
									Email
								</label>
							</div>
							<div>
								{{ form.email }}
							</div>
							<div class="fail_enroll">
								{{ form.email.errors }}
							</div>

							<p></p>
							<p></p>

							<div class="wlc_login_form">
								<label for="id_password1">
									Password
								</label>
							</div>
							<div>
								{{ form.password1 }}
							</div>	

							<p></p>
							<p></p>

							<div class="wlc_login_form">
								<label for="id_password2">
									Verify Password
								</label>
							</div>
							<div>
								{{ form.password2 }}
							</div>

						    <div class="wlc_login_button" style="padding-top:10px;">
					        <input type="submit" value="Sign Up" />
						    </div>
				    	</form>
					</td>
				</tr>
			</tbody>	
		</table>
	</div>

{% endblock content %}

