{% extends "HarryPotter/base.html" %}
{% load staticfiles %}
{% block title %}
	| Registration Successful
{% endblock title %}

{% block head %}
 	<link rel="stylesheet" type="text/css" href="{% static 'css/main_header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/gen.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/lgenr_page.css' %}">
{% endblock head %}

{% block content %}
	<div style="margin-top:50px; padding-top:20px;">
    <p>Thank you for registering.</p>
    <a href="/"> Go to the main page</a> and login.
	</div>
{% endblock content %}