body, html {
	padding:0px; margin:0px; font-size:14px;
    background:url('../images/bg_hmpage.jpg') no-repeat top center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.showTable {
	display:table; 
	width:90%; 
	margin:0 auto;
	font-size: 15px;
	text-align: center;
}

.showTable th {
	font-size: 20px;
}