{% extends "welcome/base.html" %}
{% block title %}Login{% endblock title %}
{% block head %}Welcome to Hogwarts!{% endblock head %}
{% block content %}
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
    <form method="post" action="." style="text-align:center;">{% csrf_token %}
        <table border="0" align="center">
            <tr><th><label for="id_username">Username:</label></th><td>{{ form.username }}</td></tr>
            <tr><th><label for="id_password">Password:</label></th><td>{{ form.password }}</td></tr>
        </table>
        <input type="submit" value="Login" />
        <input type="hidden" name="next" value="/my_profile" />
    </form>
    <center>
    First time here? Then sign up
    <a href="{% url 'welcome:register' %}">here</a>
    </center>
{% endblock content %}